// Dark theme colors (default)
$white : #E1E1E1;
$gray : #A3A3A3;

$fflik : #00FF8C;
$black : #1a1c1b;
$dark-gray : #3b494360;

$star: #f1de5e;

// Light theme colors
$light-white : #1a1c1b;
$light-gray : #5c5c5c;

$light-fflik : #00a862;
$light-black : #ffffff;
$light-dark-gray : #f5f5f580;

$light-star: #d4ba00;